			if($outofplumb_val==0 && $outagelen_val==0 && $outageelbo_val==0)
			{
			echo'<select id="id_select2_example'.$valuess.'" style="width:70px;"  name="outage"  onchange="change_panle(this.form);save_all_data(this.form);" class="blankval">';	
			if($valuess==0 || $valuess==$charrr)
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/'.$folfer.'_select.jpg" value="0" selected></option>';	
			}
			else{
			echo'<option data-img_src="img/outage/level/middle_select.jpg" value="0" selected></option>';	
			}
			
			echo'</select>';
			}
			
			//for only outofplumb
			elseif($outofplumb_val!=0 && $outagelen_val==0 && $outageelbo_val==0)
			{
			echo'<select id="id_select2_example'.$valuess.'" style="width:70px;"  name="outage"  onchange="change_panle(this.form);save_all_data(this.form);" class="blankval">';	
			if($valuess==0 || $valuess==$charrr)
			{
			if($outage_val=='Outerrr')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_1.jpg" value="Outerrr" selected></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_2.jpg" value="Innerrr"></option>';	
			}
			elseif($outage_val=='Innerrr')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_1.jpg" value="Outerrr"></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_2.jpg" value="Innerrr" selected></option>';	
			}
			else
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/select_height.jpg" value="0" selected></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_1.jpg" value="Outerrr" ></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_2.jpg" value="Innerrr" ></option>';	
			}
			}
			else{
			if($outage_val=='Nigative')
			{
			echo'
			<option data-img_src="img/outage/level/level_1.jpg" value="Nigative" selected></option>
			<option data-img_src="img/outage/level/level_2.jpg" value="Positive"></option>';	
			}
			elseif($outage_val=='Positive')
			{
			echo'
			<option data-img_src="img/outage/level/level_1.jpg" value="Nigative"></option>
			<option data-img_src="img/outage/level/level_2.jpg" value="Positive" selected></option>';	
			}
			else{	
			echo'
			<option data-img_src="img/outage/level/select.jpg" value="0" selected></option>
			<option data-img_src="img/outage/level/level_1.jpg" value="Nigative"></option>
			<option data-img_src="img/outage/level/level_2.jpg" value="Positive"></option>';
			}
			
			}
			
			echo'</select>';
			}
			
			
			//for only starightt
			elseif($outofplumb_val==0 && $outagelen_val!=0 && $outageelbo_val==0)
			{
			echo'<select id="id_select2_example'.$valuess.'" style="width:70px;"  name="outage"  onchange="change_panle(this.form);save_all_data(this.form);" class="blankval">';	
			if($valuess==0 || $valuess==$charrr)
			{
			if($outage_val=='plumb_staright')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_3.jpg" value="plumb_staright" selected></option>';
			}
			else
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/select_height.jpg" value="0" selected></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_3.jpg" value="plumb_staright" ></option>';
			}
			
			}
			else{
			if($outage_val=='level_staright')
			{
			echo'
			<option data-img_src="img/outage/level/level_3.jpg" value="level_staright" selected></option>';	
			}
			
			else{	
			echo'
			<option data-img_src="img/outage/level/select.jpg" value="0" selected></option>
			<option data-img_src="img/outage/level/level_3.jpg" value="level_staright"></option>';
			}
			
			}
			
			echo'</select>';
			}
			
			elseif($outofplumb_val!=0 && $outagelen_val!=0 && $outageelbo_val==0)
			{
			echo'<select id="id_select2_example'.$valuess.'" style="width:70px;"  name="outage"  onchange="change_panle(this.form);save_all_data(this.form);" class="blankval">';	
			if($valuess==0 || $valuess==$charrr)
			{
			if($outage_val=='Outerrr_staright')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_4.jpg" value="Outerrr_staright" selected></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_5.jpg" value="Innerrr_staright"></option>';	
			}
			elseif($outage_val=='Innerrr_staright')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_4.jpg" value="Outerrr_staright"></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_5.jpg" value="Innerrr_staright" selected></option>';	
			}
			else
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/select_height.jpg" value="0" selected></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_4.jpg" value="Outerrr_staright" ></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_5.jpg" value="Innerrr_staright" ></option>';	
			}
			}
			else{
			if($outage_val=='staright_Nigative')
			{
			echo'
			<option data-img_src="img/outage/level/level_4.jpg" value="staright_Nigative" selected></option>
			<option data-img_src="img/outage/level/level_5.jpg" value="staright_Positive"></option>';	
			}
			elseif($outage_val=='staright_Positive')
			{
			echo'
			<option data-img_src="img/outage/level/level_4.jpg" value="staright_Nigative"></option>
			<option data-img_src="img/outage/level/level_5.jpg" value="staright_Positive" selected></option>';	
			}
			else{	
			echo'
			<option data-img_src="img/outage/level/select.jpg" value="0" selected></option>
			<option data-img_src="img/outage/level/level_4.jpg" value="staright_Nigative"></option>
			<option data-img_src="img/outage/level/level_5.jpg" value="staright_Positive"></option>';
			}
			}
			
			echo'</select>';
			}
			
			elseif($outofplumb_val==0 && $outagelen_val!=0 && $outageelbo_val!=0)
			{
			echo'<select id="id_select2_example'.$valuess.'" style="width:70px;"  name="outage"  onchange="change_panle(this.form);save_all_data(this.form);" class="blankval">';	
			if($valuess==0 || $valuess==$charrr)
			{
			if($outage_val=='staright_Outerrr')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_6.jpg" value="staright_Outerrr" selected></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_7.jpg" value="staright_Innerrr"></option>';	
			}
			elseif($outage_val=='staright_Innerrr')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_6.jpg" value="staright_Outerrr"></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_7.jpg" value="staright_Innerrr" selected></option>';	
			}
			else
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/select_height.jpg" value="0" selected></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_6.jpg" value="staright_Outerrr" ></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_7.jpg" value="staright_Innerrr" ></option>';	
			}
			}
			else{
			if($outage_val=='Nigative_staright')
			{
			echo'
			<option data-img_src="img/outage/level/level_6.jpg" value="Nigative_staright" selected></option>
			<option data-img_src="img/outage/level/level_7.jpg" value="Positive_staright"></option>';	
			}
			elseif($outage_val=='Positive_staright')
			{
			echo'
			<option data-img_src="img/outage/level/level_6.jpg" value="Nigative_staright"></option>
			<option data-img_src="img/outage/level/level_7.jpg" value="Positive_staright" selected></option>';	
			}
			else{	
			echo'
			<option data-img_src="img/outage/level/select.jpg" value="0" selected></option>
			<option data-img_src="img/outage/level/level_6.jpg" value="Nigative_staright"></option>
			<option data-img_src="img/outage/level/level_7.jpg" value="Positive_staright"></option>';
			}
			}
			
			echo'</select>';
			}
			elseif($outofplumb_val!=0 && $outagelen_val!=0 && $outageelbo_val!=0)
			{
			echo'<select id="id_select2_example'.$valuess.'" style="width:70px;"  name="outage"  onchange="change_panle(this.form);save_all_data(this.form);" class="blankval">';	
			if($valuess==0 || $valuess==$charrr)
			{
			if($outage_val=='Outerrr_Outerrr')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_8.jpg" value="Outerrr_Outerrr" selected></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_9.jpg" value="Innerrr_Outerrr"></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_10.jpg" value="Outerrr_Innerrr"></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_11.jpg" value="Innerrr_Innerrr"></option>';	
			}
			elseif($outage_val=='Innerrr_Outerrr')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_8.jpg" value="Outerrr_Outerrr"></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_9.jpg" value="Innerrr_Outerrr" selected></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_10.jpg" value="Outerrr_Innerrr"></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_11.jpg" value="Innerrr_Innerrr"></option>';
			}
			elseif($outage_val=='Outerrr_Innerrr')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_8.jpg" value="Outerrr_Outerrr"></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_9.jpg" value="Innerrr_Outerrr" ></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_10.jpg" value="Outerrr_Innerrr" selected></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_11.jpg" value="Innerrr_Innerrr"></option>';
			}
			elseif($outage_val=='Innerrr_Innerrr')
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_8.jpg" value="Outerrr_Outerrr"></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_9.jpg" value="Innerrr_Outerrr"></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_10.jpg" value="Outerrr_Innerrr"></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_11.jpg" value="Innerrr_Innerrr" selected></option>';
			}
			else
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/select_height.jpg" value="0" selected></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_8.jpg" value="Outerrr_Outerrr" ></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_9.jpg" value="Innerrr_Outerrr" ></option>';
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_10.jpg" value="Outerrr_Innerrr"></option>';	
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/plumb_11.jpg" value="Innerrr_Innerrr"></option>';			
			}
			}
			else{
			if($outage_val=='Nigative_Nigative')
			{
			echo'
			<option data-img_src="img/outage/level/level_8.jpg" value="Nigative_Nigative" selected></option>
			<option data-img_src="img/outage/level/level_10.jpg" value="Nigative_Positive"></option>
			<option data-img_src="img/outage/level/level_9.jpg" value="Positive_Nigative"></option>
			<option data-img_src="img/outage/level/level_11.jpg" value="Positive_Positive"></option>
			
			';	
			}
			elseif($outage_val=='Nigative_Positive')
			{
			echo'
			<option data-img_src="img/outage/level/level_8.jpg" value="Nigative_Nigative"></option>
			<option data-img_src="img/outage/level/level_10.jpg" value="Nigative_Positive" selected></option>
			<option data-img_src="img/outage/level/level_9.jpg" value="Positive_Nigative" ></option>
			<option data-img_src="img/outage/level/level_11.jpg" value="Positive_Positive"></option>';	
			}
			elseif($outage_val=='Positive_Nigative')
			{
			echo'
			<option data-img_src="img/outage/level/level_8.jpg" value="Nigative_Nigative"></option>
			<option data-img_src="img/outage/level/level_10.jpg" value="Nigative_Positive"></option>
			<option data-img_src="img/outage/level/level_9.jpg" value="Positive_Nigative" selected></option>
			<option data-img_src="img/outage/level/level_11.jpg" value="Positive_Positive"></option>';	
			}
			elseif($outage_val=='Positive_Positive')
			{
			echo'
			<option data-img_src="img/outage/level/level_8.jpg" value="Nigative_Nigative"></option>
			<option data-img_src="img/outage/level/level_10.jpg" value="Nigative_Positive"></option>
			<option data-img_src="img/outage/level/level_9.jpg" value="Positive_Nigative" ></option>
			<option data-img_src="img/outage/level/level_11.jpg" value="Positive_Positive" selected></option>';	
			}
			else{	
			echo'
			<option data-img_src="img/outage/level/select.jpg" value="0" selected></option>
			<option data-img_src="img/outage/level/level_8.jpg" value="Nigative_Nigative"></option>
			<option data-img_src="img/outage/level/level_10.jpg" value="Nigative_Positive"></option>
			<option data-img_src="img/outage/level/level_9.jpg" value="Positive_Nigative"></option>
			<option data-img_src="img/outage/level/level_11.jpg" value="Positive_Positive"></option>';
			}
			}
			
			echo'</select>';
			}
			
			else
			{
			echo'<select id="id_select2_example'.$valuess.'" style="width:70px;"  name="outage"  onchange="change_panle(this.form);save_all_data(this.form);" class="blankval">';	
			if($valuess==0 || $valuess==$charrr)
			{
			echo'<option data-img_src="img/outage/plumb/'.$folfer.'/'.$folfer.'_select.jpg" value="0" selected></option>';	
			}
			else{
			echo'<option data-img_src="img/outage/level/middle_select.jpg" value="0" selected></option>';	
			}
			
			echo'</select>';